<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../CSS/Bai2.css">
  </head>
  <body>
    <main>
      <img src="../resource/avatar.png">
      <h1>Thái Sang</h1>
      <span>quorum quae quis export cillum</span>
      <ul class="inline-list">
        <li>
          <a href="#">
            <img src="../resource/facebook.png">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../resource/github.png">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../resource/twitter.png" alt="">
          </a>
        </li>
      </ul>
    </main>
  </body>
</html>
