body {
  font-family: "Courier New", Courier, monospace;
  color: rgba(134, 6, 214,0.5);
  position: absolute;
  width: 99%;
  height: 95%;
  background: url("../resource/background.jpg") no-repeat;
  background-size: cover;
  overflow: none;
}
main {
  text-align: center;
  background-color: white;
  height: 550px;
  width: 450px;
  position: absolute;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
main > img {
  border-radius: 50%;
  margin-top: 75px;
  width: 125px;
}
main > h1 {
  font-size: 54px;
}
main > span {
  font-size : 35px;
  word-wrap: break-word;
}
main .inline-list li {
  display: inline-block;
  margin: 0px 15px;
}
main .inline-list li img {
  width: 65px;
}
