title{
  font-weight: bold;
}
h2{
  font-weight: bold;
  color:#006600  ;
  text-align: center;
}
.hh{
  font-weight: bold;
  color: #000000;
}
.nuoc{
  font-style: italic;
}
.H{
  color: #FF0000;
}
.sub{
  color:#FF0000 ;
}
.h{
  color: #FF0000;
}
.axit{
  font-style: italic;
}
