h1{text-align: center;}
		table{
			border: 1px;
			border-collapse: collapse;
		}
		table,td{
			border:1px solid black;
			text-align: left;
			background-color:#A1F6BF;
			padding: 5px;
			margin: auto;
			color: #1EBC2D;
		}