body{
	background-color: #FFEDCA;
}
h1{
	color: #CC6600;
	 text-align: center;
}
table{
	width:500px;
	 border:2px solid black;
	 border-collapse: collapse;
	 padding: 10px;
	 border-spacing: 10px;
	 /* cellpadding="10px" cellspacing="10px"*/
}
table tr.aa{
	background-color: #CC6600;
	 color: white;
	  text-align: center;
}
table tr.ab{
	background-color: white;
}
table tr td.ac{
	text-align: center;
}