body{
	 background-image: url('Bai04.jpg');
}

h1{
	text-align: center;
	color: #008888;
}

#doantren
{
	background-color: #008888;
	color: #FFFFFF;
	font-style: italic;
	font-weight: 600;
	font-size: 20px;

}

#doanduoi
{
	color: #339999;
	font-size: 20px;
}