*{
	box-sizing: border-box;
}
body{
	background: #cccccccc;
	margin: 0;


}
#main-wrapper{
	width: 70%;
	margin: 0 auto;
	background: #666666;
	color: #666666;

}
header,footer{
	background: #333333;
	padding: 20px;
	color: white;
	text-align: center;
}
.main-content{
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}

nav li {
    float: left;
    border-right:1px solid #333;
    padding: 0px;
}


nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}


aside{
	float:right;
	width: 25%;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: #e5e5e5;
	padding: 20px;
	overflow: auto;

}

div.fake-image{
	float: left;
	background: #dddddd;
	width: 120px;
	height: 120px;
	margin-right: 15px;
}
section{
	width: 75%;
	background: #ffffff;
	height: 100%;
	padding: 20px;
}
p a, li a {
	color: orange;

}
aside li{
	list-style-type: none;
	padding: 3px;
	margin-left: auto;
}
ul#sidebar{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul li{
	padding: 5px;
}