div{
	width: 1000px;
	margin-top: 160px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;		

	}
	table{
		border-collapse: collapse;
		border: 1;
		text-align: left;
		background-color: #8BE2A2;
		padding: 0 auto;
		width: 400px;
		height: 80px;
		border: 0.5px solid #1DCF4B;
	}
	tr,td{
		border: 0.5px solid #1DCF4B;
	}