		h1{
			text-align: center;
			color: #D43535;
		}
		table{
			border-collapse: collapse;
			border: 1;
			text-align: left;
			background-color: white;
			padding: 0 auto;
			width: 400px;
			border: 0.5px solid ;
		}
		tr,td{
			text-align: left;
			color: #D43535;
			border: 0.5px solid #D43535;
		}
