h1{
	text-align: center;
	color: blue;
}

table{
	border-collapse: collapse;
}

table,td{
	padding: 5px;
	border: 1px solid black;
	margin:auto;
	text-align: center;
}

#display{
	color: #FFA500;
}

legend{
	color: #f20;font-style: italic;
}
fieldset{
	width: 60%;margin: auto;
}

fieldset input{
	width: 20%;
}