{
	box-sizing: border-box;
}
body{
	background: #CCCCCC;
	margin:0;
}
#main-wrapper{
	width: 70%;
	margin: 0 auto;
	background: #666666;
	color: black;
}
header, footer{
	background: #333333;
	padding: 20px;
	color: white;
	text-align: center;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #666666;
}
nav li{
	float: left;
	border-right: 1px solid #333333;
	padding: 0px;
}
nav li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
nav li a:hover{
	background-color: #009933;
}
.main-content{
	width:100%;
	position: relative;
	top: 0;
	left: 0;
}
section{
	width:67.2%;
	background: #ffffff;
	height: 100%;
	padding: 20px;
}
article p a b:hover{
	background-color: LightGray;
	color: DodgerBlue;
}
aside{
	width:25%;
	position: absolute;
	top: 0;
	right: 0;
	height: 95.2%;
	background: #e5e5e5;
	padding: 20px;	
}
aside ul{
	list-style-type: none;
	padding:0;
}
aside li a{
	vertical-align: left;
	text-decoration: none;
	color: orange;
	display: block;
	padding: 5px 10px;
}
aside li a:hover{
	background-color: #555;
	color: white;
}